.container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
app-episode {
  padding: 3vh;
  margin: 5vh;
  border-radius: 5vh;
  background-color: rgb(0, 0, 0);

}
.paginator ::ng-deep .ngx-pagination .current {
  background: #4dd062;
}

.paginator ::ng-deep .ngx-pagination a {
  font-size: large;
}
app-searchbar {
  width: 100%;
}
