*{
    color:white;
    margin: 0;
    padding: 0;
}

.container{
    width:100%;
    display: flex;
    justify-content: left;
}
app-menu{
    padding:1vh;
}
@media(max-width:1000px){
    .container{
        overflow: auto;
        flex-direction: column;
    }
    ul{
        padding:0vh;
    }
}
