<div>
  <p><span class="tag">Status: </span>{{ status() }}</p>
  <p><span class="tag">Species: </span>{{ species() }}</p>
  <p><span class="tag">Type: </span>{{ type() }}</p>
  <p><span class="tag">Gender: </span>{{ gender() }}</p>
  <p>
    <!--TODO implement show data on hover-->
    <span class="tag">Origin: </span><a >{{ origin()?.name }}</a>
  </p>
  <p>
    <span class="tag">Location: </span><a >{{ location()?.name }}</a>
  </p>
  <p><span class="tag">Episodes: </span></p>
  <ul>
    @for (episode of episodes(); track episode) {
    <li>
      <a (click)="refreshEpisode(episode.id)">Nº: {{ episode.id }}</a>
    </li>
    }
  </ul>
  <p><span class="tag">Created: </span>{{ created() }}</p>
</div>
