/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.tag{
    font-size: large;
    font-weight: bold;
}
a{
    color: #4dd062;
    cursor: pointer;
}